<!DOCTYPE html>

<html lang="tr" class="light-style" dir="ltr" data-theme="theme-default" data-assets-path="assets/"
  data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Nxep | </title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="assets/css/sneat.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="assets/vendor/js/helpers.js"></script>

  <script src="assets/js/config.js"></script>
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      <aside id="layout-menu" class="layout-menu menu-vertical  menu bg-menu-theme" data-bg-class="bg-menu-theme">
        <div class="app-brand demo">
          <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo fw-bolder display-4">N</span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">NXEP</span>
          </a>

          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
          </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1 ps ps--active-y" id="layout-menu-list">
          <!-- Dashboard -->
          <li class="menu-item">
            <a href="mainWin.html" class="menu-link">
              <i class="menu-icon tf-icons bx bx-home-circle"></i>
              <div>Ana Sayfa</div>
            </a>
          </li>

          <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Yönetim</span>
          </li>

          <li class="menu-item active">
            <a href="allProfilesWin.html" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bxs-user-detail"></i>
              <div>Profiller</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="localProfilesWin.html" class="menu-link">
                  <div>Local</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="cloudProfilesWin.html" class="menu-link">
                  <div>Cloud (Steam)</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="musicsWin.html" class="menu-link">
              <i class="menu-icon tf-icons bx bx-music"></i>
              <div>Müzikler</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="radiosWin.html" class="menu-link">
              <i class="menu-icon tf-icons bx bx-radio"></i>
              <div>Radyolar</div>
            </a>
          </li>
          <!-- Components -->
          <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Mağaza</span>
          </li>
          <!-- Cards -->
          <li class="menu-item">
            <a href="#" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bxs-car-mechanic"></i>
              <div>Modders</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item bg-warning">
                <a href="#.html" class="menu-link text-white">
                  <i class="menu-icon tf-icons bx bx-joystick-button me-2"></i>
                  <div>The King's Works</div>
                </a>
              </li>
              <li class="menu-item bg-danger">
                <a href="#.html" class="menu-link text-white">
                  <i class="menu-icon tf-icons bx bx-joystick-button me-2"></i>
                  <div>B</div>
                </a>
              </li>
              <li class="menu-item bg-primary">
                <a href="#.html" class="menu-link text-white">
                  <i class="menu-icon tf-icons bx bx-joystick-button me-2"></i>
                  <div>C</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- User interface -->
          <li class="menu-item">
            <a href="#.html" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bxl-soundcloud"></i>
              <div>Audio Modders</div>
            </a>

            <ul class="menu-sub">
              <li class="menu-item bg-warning">
                <a href="#.html" class="menu-link text-white">
                  <i class="menu-icon tf-icons bx bx-joystick-button me-2"></i>
                  <div>The King's Works</div>
                </a>
              </li>
              <li class="menu-item bg-danger">
                <a href="#.html" class="menu-link text-white">
                  <i class="menu-icon tf-icons bx bx-joystick-button me-2"></i>
                  <div>B</div>
                </a>
              </li>
              <li class="menu-item bg-primary">
                <a href="#.html" class="menu-link text-white">
                  <i class="menu-icon tf-icons bx bx-joystick-button me-2"></i>
                  <div>C</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </aside>
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->

          <div class="container-fluid flex-grow-1 container-p-y">
            <div class="row">
              <div class="col-lg-12">
                <div class="card shadow-lg border-5 border-top-0 border-start-0 border-end-0 border-primary">
                  <div class="card-body">
                    <!-- Basic Breadcrumb -->
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="mainWin.html">Ana Sayfa</a>
                        </li>
                        <li class="breadcrumb-item">
                          <a href="allProfilesWin.html">Profiller</a>
                        </li>
                        <li class="breadcrumb-item active">
                          <a href="localProfilesWin.html">
                            <b>Yerel Profiller</b>
                          </a>
                        </li>
                        <li class="breadcrumb-item active">
                          <a href="localProfileDetailWin.html?displayName=" id="activeProfilePageTitle"></a>
                        </li>
                        <li class="breadcrumb-item active">
                          <a href="#" id="activeSavePageTitle"></a>
                        </li>
                      </ol>
                    </nav>
                    <!-- Basic Breadcrumb -->
                    <div class="card-header pb-0 d-flex flex-row justify-content-between align-items-center"
                      id="activeProfileDisplay">
                      <h5 class="card-header p-0">
                        <i class="bx bxs-user-detail me-2 d-inline"></i><b class="d-inline"
                          id="activeProfileSaveDisplayName"></b>
                        <br><br>
                        <i class="bx bxs-file-find me-1 d-inline"></i>
                        <p class="mt-2 w-75 fs-6 d-inline fw-light" id="activeProfileSaveFilePath"></p>
                      </h5>
                      <h6 class="card-header p-0 pt-3">
                        <br><br>
                        <i class="bx bx-time"></i>
                        <span class="fw-bold"> Güncellenme Tarihi: </span>
                        <span id="aboutSaveUpdateTime" class="ps-2">00/00/0000</span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-lg-7 col-md-6">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-8">
                    <!-- About Save -->
                    <div class="card shadow-lg border-5 border-top-0 border-start-0 border-end-0 border-warning mb-6">
                      <div class="card-body">
                        <small class="card-text text-uppercase text-muted small">Hakkında</small>
                        <ul class="list-unstyled my-3 py-0">
                          <li class="d-flex align-items-center mb-4">
                            <i class="bx bx-user"></i><span class="fw-medium mx-2">Isim:</span>
                            <span id="aboutSaveName">John Doe</span>
                          </li>
                          <li class="d-flex align-items-center mb-4">
                            <i class="bx bxs-briefcase-alt-2"></i>
                            <span class="fw-medium mx-2">Şirket:</span>
                            <span id="aboutCompanyName">Active</span>
                          </li>
                          <li class="d-flex align-items-center mb-4">
                            <img width="18.4px" style="opacity : 0.75;"
                              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAAXNSR0IArs4c6QAAAZpJREFUOE+11b9LV1EYx/GXEG3RDyippSBxtB8GDdFUg4lTkSCC2VBtTYHQYrTUnxBtkTRoa7rpIkJJ0dLUICIWhNTQWtR95B44XM735vcLPds553Pe9znP+Tzn9vkP0Vdg7sMQPvzjewdwGh+buib0BNZwEsu40gF8Fis4hNe4meua0Dt4ngmGO2Q8W2keZbpI5msaN6Hn8b5e3MQAfhWyvYbFej70F9oyjbUAR4Zv8KWlrpcxiHn8LEH3V0V/if4CJGr8MJsfwQzyU27hdjpVWjjXctu/EY5IEa4IfTPGsRCTCRo1WW85atIdxbcOuheY7gU6hdhcih0cw59uM32FiZYTXcS7bqCh/YGDLdDHVaaz3UCP4D4u4WoB/LTqrE+Vt+cSNDribu3PsWxDdFd0St49c5gsQMO3q/lFJc09PMs2hCtSh6XpaIjjBWh4+Ukv0FPY6FDTpeqSRnuBHsaZ2o+3MvgNbONtL9DEiRrHS5Wi9ZXaS00D1BU0bv5BlkG8r58LNYx23G3JOq5XdvueBqXfSYu397b0F0MuSxYi35gYAAAAAElFTkSuQmCC" />
                            <span class="fw-medium mx-2">Cinsiyet:</span>
                            <span id="aboutGender">Developer</span>
                          </li>
                          <li class="d-flex align-items-center mb-4">
                            <i class="bx bxs-truck"></i><span class="fw-medium mx-2">Marka:</span>
                            <span id="aboutBrand">USA</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--/ About Save -->
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-8">
                    <!-- About Save Info -->
                    <div class="card shadow-lg border-5 border-top-0 border-start-0 border-end-0  border-danger mb-6">
                      <div class="card-body">
                        <small class="card-text text-uppercase text-muted small">Bilgi</small>
                        <ul class="list-unstyled my-3 py-0">
                          <li class="d-flex align-items-center mb-4">
                            <i class="bx bx-money"></i><span class="fw-medium mx-2">Para Hesabı:</span>
                            <span id="aboutSaveInfoMoney">00000000000</span>
                          </li>
                          <li class="d-flex align-items-center mb-4">
                            <i class="bx bxs-star"></i>
                            <span class="fw-medium mx-2">Deneyim Puanı:</span>
                            <span id="aboutSaveInfoPlayersExperience">0000000</span>
                          </li>
                          <li class="d-flex align-items-center mb-4">
                            <i class="bx bxs-car-garage"></i>
                            <span class="fw-medium mx-2">Galeri:</span>
                            <span id="aboutSaveInfoUnlockedDealers">00</span>
                          </li>
                          <li class="d-flex align-items-center mb-4">
                            <i class="bx bxs-user-rectangle"></i><span class="fw-medium mx-2">Işçi Alım Bayi:</span>
                            <span id="aboutSaveInfoUnlockedRecruitments">0</span>
                          </li>

                        </ul>
                      </div>
                    </div>
                    <!--/ About Save Info -->
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-12">
                    <div class="card shadow-lg border-5 border-top-0 border-start-0 border-end-0 border-info h-100">
                      <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, repellendus delectus.
                          Voluptates quaerat harum doloribus nisi placeat nam vel. Voluptatum delectus iste mollitia
                          minima laboriosam vero repellendus nobis consequuntur odit?</p>
                      </div>
                    </div>
                  </div>

                  <!-- About Save Info -->

                  <!--/ About Save Info -->
                </div>

              </div>
              <div class=" col-lg-5 col-md-6">
                <div
                  class="card shadow-lg overflow-auto border-5 border-top-0 border-start-0 border-end-0  border-danger mb-6 h-25">
                  <div class="card-body ">
                    <small class="card-text text-uppercase text-muted small ms-3">Bağlılıklar</small>
                    <div class="list-group list-group-flush mt-2 " id="aboutDependencies"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- / Content -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
  </div>

  <script src="assets/vendor/libs/jquery/jquery.js"></script>
  <script src="assets/vendor/libs/popper/popper.js"></script>
  <script src="assets/vendor/js/bootstrap.js"></script>
  <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <script src="assets/vendor/js/menu.js"></script>
  <script src="assets/js/menu.js"></script>
  <!-- Vendors JS -->

  <!-- Main JS -->
  <script src="assets/js/main.js"></script>
  <!-- Preload.JS -->
  <script src="../preload.js"></script>
  <script src="assets/js/win-localSaveDetailWin.js"></script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>